Requirements:
react
react-router-dom: it directs url to particular page
express
nodemon: everytime on changing anything in backend index.js file it will restarts our express app
cors: cros is policy
mongoose(powerful mongodb library): to contect with database
becryptjs: for hashing
jsonwebtoken: for web token(cookies) if logged in, stored on the client-side, usually in the browser's local storage, session storage, or cookies.
cookie-parser: to able to read cookie
multer: to save img file to folder "uploads"
date-fns: for formating date